/* Error: expected "{".
 *      ,
 * 1282 |       justify-content: space-between;
 *      |                                     ^
 *      '
 *   scss/_components.scss 1282:37  @import
 *   scss/style.scss 22:9           @import
 *   scss/ck5style.scss 2:11        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 1282 \2502        justify-content: space-between;\a      \2502                                      ^\a      \2575 \a   scss/_components.scss 1282:37  @import\a   scss/style.scss 22:9           @import\a   scss/ck5style.scss 2:11        root stylesheet';
}
