.view-quiz-career-match .view-content {
    padding-left: 25px;
    padding-right: 25px;
}

.careers-table-main-wrapper {
    height: 100%;
    border: 1px solid #e6eae9;
    max-height: 755px;
    overflow-y: scroll;

    .tablesort {
        display: none;
    }

    // .matches-wrap{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 1.4rem;
    //     line-height: 1.8rem;
    //     color: #333;
    //     font-family: "BC Sans Bold", sans-serif;
    //     font-weight: normal;
    //     margin: 0;
    //     > span{
    //         display: inline-block;
    //         &.matches{
    //             margin-right: 10px;
    //         }
    //     }
    //     .match-warning{
    //         width: 25px;
    //         height: 25px;
    //         position: relative;
    //         display: inline-block;
    //         img {
    //             width: 25px;
    //             height: 25px;
    //         }
    //     }
    // }
}


.career-content-item-inner {

    a.btn {
      border: 2px solid #234075;
      border-radius: 0 !important;
      background: #234075;
      color: #fff;
      font-size: 15px;
      padding: 15px 4px;
  
      &.btn-find-job {
          border: 2px solid #234075;
          background: #fff;
          color: #234075;
  
          &:hover {
              background: #e6eae9;
          }
      }
  
      &:hover {
          background: rgba(0, 40, 85, 1);
      }
    }

    .bottom-btn {
        display: flex;
        margin-top: 40px;

        @media all and (max-width: 767.98px) {
            display: block;
        }

        a.btn {
            color: #fff;
            border: 2px solid #234075;
            background: #234075;
            display: inline-block;
            padding: 15px 4px;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.8rem;
            border-radius: 0;
            width: 100%;
            margin-right: 10px;

            @media all and (max-width: 767.98px) {
                margin-bottom: 10px;
            }

            .cdq-abilities-quiz & {
                background: $quiz-dark-blue;
                border: 2px solid $quiz-dark-blue;
            }
            .cdq-work-preferences-quiz & {
                background: $quiz-purple;
                border: 2px solid $quiz-purple;
            }
            .cdq-interests-quiz & {
                background: $quiz-blue;
                border: 2px solid $quiz-blue;
            }
            .cdq-multiple-intelligences-quiz & {
                background: $quiz-green;
                border: 2px solid $quiz-green;
            }
            .cdq-learning-styles-quiz & {
                background: $quiz-light-blue;
                border: 2px solid $quiz-light-blue;
            }
            .cdq-work-values-quiz & {
                background: $quiz-pink;
                border: 2px solid $quiz-pink;
            }

            &:hover {
                background: #002855;

                .cdq-abilities-quiz & {
                    background: $quiz-dark-blue-dark;
                }
                .cdq-work-preferences-quiz & {
                    background: $quiz-purple-dark;
                }
                .cdq-interests-quiz & {
                    background: $quiz-blue-dark;
                }
                .cdq-multiple-intelligences-quiz & {
                    background: $quiz-green-dark;
                }
                .cdq-learning-styles-quiz & {
                    background: $quiz-light-blue-dark;
                }
                .cdq-work-values-quiz & {
                    background: $quiz-pink-dark;
                }                 
            }

            &.btn-find-job {
                background: #fff;

                .cdq-abilities-quiz & {
                    color: $quiz-dark-blue;
                    border: 2px solid $quiz-dark-blue;
                }
                .cdq-work-preferences-quiz & {
                    color: $quiz-purple;
                    border: 2px solid $quiz-purple;
                }
                .cdq-interests-quiz & {
                    color: $quiz-blue;
                    border: 2px solid $quiz-blue;
                }
                .cdq-multiple-intelligences-quiz & {
                    color: $quiz-green;
                    border: 2px solid $quiz-green;
                }
                .cdq-learning-styles-quiz & {
                    color: $quiz-light-blue;
                    border: 2px solid $quiz-light-blue;
                }
                .cdq-work-values-quiz & {
                    color: $quiz-pink;
                    border: 2px solid $quiz-pink;
                }

                &:hover {
                    background: #ececec;
                }
            }
        }
    }
  }



  .careers-main-wrapper {
      .bottom-links {
          display: flex;
          justify-content: flex-end;
          margin-top: 40px;
          padding-left: 25px;
          padding-right: 25px;

          @media all and (max-width: 767.98px) {
              display: block;
          }
  
          a.btn {
              color: #fff;
              border: 2px solid #234075;
              background: #234075;
              display: inline-block;
              padding: 15px 4px;
              text-decoration: none;
              font-size: 1.5rem;
              line-height: 1.8rem;
              border-radius: 0;
              width: 175px;
  
              @media all and (max-width: 767.98px) {
                  margin-bottom: 10px;
              }
  
              .cdq-abilities-quiz & {
                  background: $quiz-dark-blue;
                  border: 2px solid $quiz-dark-blue;
              }
              .cdq-work-preferences-quiz & {
                  background: $quiz-purple;
                  border: 2px solid $quiz-purple;
              }
              .cdq-interests-quiz & {
                  background: $quiz-blue;
                  border: 2px solid $quiz-blue;
              }
              .cdq-multiple-intelligences-quiz & {
                  background: $quiz-green;
                  border: 2px solid $quiz-green;
              }
              .cdq-learning-styles-quiz & {
                  background: $quiz-light-blue;
                  border: 2px solid $quiz-light-blue;
              }
              .cdq-work-values-quiz & {
                  background: $quiz-pink;
                  border: 2px solid $quiz-pink;
              }
  
              &:hover {
                  background: #002855;
  
                  .cdq-abilities-quiz & {
                      background: $quiz-dark-blue-dark;
                  }
                  .cdq-work-preferences-quiz & {
                      background: $quiz-purple-dark;
                  }
                  .cdq-interests-quiz & {
                      background: $quiz-blue-dark;
                  }
                  .cdq-multiple-intelligences-quiz & {
                      background: $quiz-green-dark;
                  }
                  .cdq-learning-styles-quiz & {
                      background: $quiz-light-blue-dark;
                  }
                  .cdq-work-values-quiz & {
                      background: $quiz-pink-dark;
                  }                 
              }
  
              &.btn-modify {
                  background: #fff;
  
                  .cdq-abilities-quiz & {
                      color: $quiz-dark-blue;
                      border: 2px solid $quiz-dark-blue;
                  }
                  .cdq-work-preferences-quiz & {
                      color: $quiz-purple;
                      border: 2px solid $quiz-purple;
                  }
                  .cdq-interests-quiz & {
                      color: $quiz-blue;
                      border: 2px solid $quiz-blue;
                  }
                  .cdq-multiple-intelligences-quiz & {
                      color: $quiz-green;
                      border: 2px solid $quiz-green;
                  }
                  .cdq-learning-styles-quiz & {
                      color: $quiz-light-blue;
                      border: 2px solid $quiz-light-blue;
                  }
                  .cdq-work-values-quiz & {
                      color: $quiz-pink;
                      border: 2px solid $quiz-pink;
                  }
  
                  &:hover {
                      background: #ececec;
                  }
              }
          }
      }
  }
  


.content {

    .top-btn {
        margin-top: 20px;
        display: flex;
        margin-left: 0;
        > a.disable {
            color: rgba(0, 0, 0, 0.298039215686275);
            background: #f2f2f2;
            border: 2px solid rgba(0, 0, 0, 0.298039215686275);
            pointer-events: none;

            &:hover {
                color: rgba(0, 0, 0, 0.298039215686275);
                background: #f2f2f2;
                border: 2px solid rgba(0, 0, 0, 0.298039215686275);
            }
        }

        .clear-compare {
            color: #234075;
            border: 2px solid #234075;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 10px;
            text-decoration: none;
            margin-right: 6px;
            min-width: 155px;
            text-align: center;

            &:hover {
                background: #ececec;
            }
        }

        .compare-career {
            color: #fff;
            border: 2px solid #e3a82b;
            background: #e3a82b;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px 10px;
            text-decoration: none;
            min-width: 155px;
            text-align: center;

            &:hover {
                background: #002855;
                border: 2px solid #002855;
            }
        }
    }

}  


.container {
    padding-left: 75px !important;
    padding-right: 75px !important;
    padding-bottom: 30px;
  }
  
  #block-workbc-cdq-page-title {
    /* background-color: #234075;
    color: white;   */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-bottom: 35px;
  }
  
  .cdq-back-link {
    padding: 20px 0;
    @media all and (max-width: 767.98px) {
        padding: 5px 0;
    }
    a {
        font-family: "BC Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #073573;
        display: flex;
        align-items: center;
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
        @media all and (max-width: 767.98px) {
            padding-left: 15px;
        }
  
        img {
            height: 14px;
            margin-right: 10px;
        }
    }
  }
  
  .views-view-responsive-grid--horizontal {
    --views-responsive-grid--layout-gap: 20px !important;
  }
  
  .careers-main-wrapper {
    font-size: 15px;

    .col-md-8, 
    .col-lg-8 {
        padding-right: 10px !important;
    }
    .col-md-4 {
        padding-left: 10px !important;
    }    
  }
  
  .quiz-category-results-wrapper,
  .quiz-work-values-wrapper {
    padding-top: 50px;
  }

  .quiz-category-results-wrapper,
  .quiz-work-values-wrapper,
  .view-cdq-compare-careers {

    .result-heading,
    .view-header {
        padding-bottom: 40px;
    }

    .career-top-right {
        display: flex;
        justify-content: flex-end;
        
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            align-items: center;
            @media all and (max-width: 767.98px){
                align-items: center;
                width: 100%;
                justify-content: center;
                margin: 0;
                padding: 8px 0 3px;
                .icon{
                    width: 28px;
                    height: 25px;
                    &.icon-message{
                        height: 19px;
                    }
                }
            }

            li {
                display: inline;
                cursor: pointer;
                >a{
                    display: inline-block;
                    font-size: 2.5rem;
                }

                &.quiz-node-print {
                    margin-right: 30px;
                    @media all and (max-width: 767.98px){
                        margin-right: 15px;
                    }
                }

                span.icon {
                    &.icon-message{
                        mask-repeat: no-repeat;
                        mask-size: contain;
                    }

                    &.icon-print {
                        mask-size: contain;
                        mask-repeat: no-repeat;
                    }

                    &:hover {
                        background: #9b9b9b;
                    }
                }
            }
        }
    }
  }

  .careers-main-wrapper table {

    input[type=checkbox] {
        transform: scale(1.7);
        border-radius: 0px;
    }
        thead {
            position: sticky;
            top: 0;
            z-index: 1;

            th {
                border: 0;
                background: #ddd;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: #333;
                padding: 14px 15px;
                font-family: "BC Sans Bold", sans-serif;
                font-weight: normal;
                a {
                    border: 0;
                    background: #ddd;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: #333;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    width: 80px;
                    font-family: "BC Sans Bold", sans-serif;
                    font-weight: normal;

                    &::before {
                        content: "";
                        background: url(../src/icons/updownarrow.svg) no-repeat;
                        position: absolute;
                        width: 10px;
                        height: 17px;
                        right: -8px;
                    }
                }

                &.views-field-field-education-level {
                    a::before {
                        right: -55px;
                        top: 46px;
                    }
                }

                &#view-field-noc-name-table-column {
                    width: 288px;
                }
            }
        }

        tbody {
            tr {
                &.career-table-row {
                    &.active {
                        td {
                            background: rgba(238, 238, 238, 1);

                            &.career-table-link {
                                > .career-table-row-link {
                                    color: rgb(42, 125, 226);

                                    .noc {
                                        color: rgb(42, 125, 226);
                                    }
                                }
                            }
                        }
                    }

                    td {
                        vertical-align: middle;
                        background: #fff;
                        padding: 20px 15px;
                        font-size: 1.5rem;

                        &.career-table-link {
                            > .career-table-row-link {
                                font-family: "BC Sans Bold", sans-serif;
                                font-weight: normal;
                                font-size: 1.5rem;
                                display: block;
                                text-decoration: none;
                                color: #333333;

                                &:hover {
                                    color: rgb(42, 125, 226);

                                    .noc {
                                        color: rgb(42, 125, 226);
                                    }
                                }

                                .noc {
                                    font-family: "BC Sans Regular", "BC Sans", sans-serif;
                                    font-weight: normal;
                                    color: #333333;
                                }
                            }
                        }
                        .use-ajax {
                            display: none;
                            + div{
                                display: none;
                            }
                        }
                    }
                }
            }

            .compare-career-checkbox {
              display: flex;
              justify-content: center;
              position: relative;

                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 18px;
                    width: 18px;
                    left: 0;
                    z-index: 1;

                    ~ .checkmark {
                        background-color: #fff;
                        border: 1px solid #797979;
                    }

                    &:checked ~ .checkmark {
                        background-color: #fff;
                        border: 1px solid #234075;
                    }

                    &:checked ~ .checkmark:after {
                        display: block;
                    }

                    &:focus-visible{
                        ~ .checkmark {
                            outline: 2px dashed #d21c22;
                        }
                    }
                }

            }
        }
    

  }


  .career-table-row.active .views-field-title {
    color: #2a7de2;
  }
  
  .views-field-title:hover {
    color: #2a7de2;
  }
  
  .career-content-item {
    display: none;
  }
  
  .career-content-item.active {
    display: block;
  }
  
  .career-inner-content {
    border: 2px solid #e6eae9;
    padding: 20px;
    height: calc(100% - 65px);
    min-height: 680px;
  }
  
  .career-content-item-inner .title {
    background-color: #234075;
    color: white;
    font-weight: bold;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
  
    p {
      margin: 0px;
      color: white;
    }

    .cdq-abilities-quiz & {
        background: $quiz-dark-blue;
    }
    .cdq-work-preferences-quiz & {
        background: $quiz-purple;
    }
    .cdq-interests-quiz & {
        background: $quiz-blue;
    }
    .cdq-multiple-intelligences-quiz & {
        background: $quiz-green;
    }
    .cdq-learning-styles-quiz & {
        background: $quiz-light-blue;
    }
    .cdq-work-values-quiz & {
        background: $quiz-pink;
    }
  }
  
  .career-content-item-inner .data .data-item {
    border-bottom: 2px solid rgba(51, 51, 51, 0.2);
    padding-bottom: 5px;
    display: flex;
    align-items: flex-start;
    &:last-child {
        border-bottom: 0;
    }
  
    span {
        display: inline-block;
        width: 100%;
    }
  
    .s-d {
        font-family: "BC Sans Bold", "BC Sans Regular", "BC Sans", sans-serif;
        font-weight: bold;
    }
  }
  
  .career-inner-content p {
    font-size: 15px;
  }
  
  .career-inner-content .description p {
    font-size: 14px;
  }
  
  .career-inner-content .image-video {
    max-height: 195px;
    padding-bottom: 10px;
  }
  
  
  .career-content-item-inner .image-video iframe {
    width: 100%;
    max-height: 185px;
  }
  
  .career-content-item-inner .image-video iframe img {
    width: 100%;
    max-height: 185px !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  
  .top-career-content {
 
    h3 {
        margin-bottom: 40px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
  
        .description {
            p {
                .dec-text {
                    font-family: "BC Sans", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 15px;
                    color: #555555;
                    position: relative;
                    padding-left: 10px;
                }
                .bulb::before {
                    content: "";
                    background: url(../src/icons/bulb.svg) no-repeat;
                    width: 14px;
                    height: 22px;
                    position: relative;
                    display: inline-block;
                    top: 6px;
                }
            }
        }

    }
  }


  .tools-resource-wrapper {
    background: rgba(35, 64, 117, 1);
    border-bottom: 4px solid rgba(252, 181, 21, 1);
    padding: 45px 0 72px;
    margin: 45px 0 0;

    a {
        text-decoration: none;
    }

    @media all and (max-width: 767.98px) {
        padding: 45px 0 30px;
    }

    .field--name-field-title {
        display: none;
    }

    .title {
        margin-bottom: 55px;

        @media all and (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        h2 {
            color: #fff;
            font-family: "BC Sans", sans-serif;
            font-size: 3.6rem;
            line-height: 4rem;
            font-weight: normal;
            font-weight: 700;
            @media all and (max-width: 767.98px) {
                font-size: 30px;
            }

        }
    }

    .tools-resource-item {
        text-align: center;
        position: relative;
        min-height: 250px;

        &::after {
            content: "";
            height: 100%;
            width: 2px;
            position: absolute;
            background: rgba(125, 144, 167, 0.462745098039216);
            right: -7px;
            bottom: -30px;

            @media all and (max-width: 767.98px) {
                display: none;
            }
        }

        img {
            height: 80px;
            width: auto;
            margin-bottom: 25px;

            @media all and (max-width: 767.98px) {
                margin: 0 auto 25px auto;
                height: 95px;
            }
        }

        h3 {
            color: #fff;
            margin-bottom: 25px;
            font-size: 2rem;
            line-height: 2.6rem;
            font-family: "BC Sans Bold", "BC Sans Regular", "BC Sans", sans-serif;
            max-width: 200px;
            margin: 0 auto 25px;
            min-height: 52px;
            font-weight: normal;
            @media all and (max-width: 767.98px) {
                font-size: 20px;
            }
            a {
                color: #fff;
            }
        }

        p.description {
            color: #fff;
            font-size: 1.5rem;
            line-height: 1.8rem;
            @media all and (max-width: 767.98px) {
                padding: 0 30px;
            }
        }

        @media all and (max-width: 767.98px) {
            text-align: center;
            position: relative;
            max-width: 350px;
            margin: 0 auto;
        }
    }

    .slick-arrow {
        display: none !important;
    }

    .slick-dots {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        margin-top: 50px;

        > li {
            > button {
                padding: 0;
                font-size: 0;
                width: 10px;
                height: 10px;
                border: 0;
                border-radius: 50%;
                margin-left: 15px;
                background: #979696;
                &:focus, &:focus-visible{
                    outline: 0;
                }
            }

            &.slick-active {
                > button {
                    background: #fff;
                }
            }
        }
    }
}

#myResult {

    margin-left: -11px;
    margin-right: -11px;

    .row {
        padding-bottom: 30px;
    }

    .learning-styles-quiz & {
        margin-top: 20px;
    }

    .carousel-inner{
        &.carousel-inner-device{
            @media all and (max-width: 767.98px){
                display: none;
            }
        }
        &.carousel-inner-mobi{
            display: none;
            @media all and (max-width: 767.98px){
                &.active{
                    display: block;
                }
            }
            .slick-dots {
                display: flex;
                list-style: none;
                padding: 0;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 0;
                li {
                    margin-right: 10px;

                    button {
                        background: #979696;
                        border: 0;
                        font-size: 0;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        outline: 0;
                    }

                    &.slick-active {
                        button {
                            background: #333333;
                        }
                    }
                }
            }
        }
    }
    .work-value-quiz-carousel{
        .itm{
            .quiz-list {
                max-width: 464px;
            }
            &:nth-child(odd){
                .quiz-list {
                    margin: 0 0 auto auto;
                }
            }
            &:nth-child(even){
                .quiz-list {
                    margin: auto auto 0 0;
                }
            }
        }
        .hideshow-workbc{
            max-width: 950px;
            margin: 0 auto;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .quiz-list {
        border: 2px solid rgb(238, 238, 238);

        @media all and (min-width: 767.98px){
            min-height: 365px;
            height: 100%;
        }

        .field-match {
            text-align: center;
            background: #f2f2f2;
            padding: 2px 0px;
            color: #333333;
            font-size: 1.5rem;
            line-height: 2.1rem;
        }

        .img-field {
            text-align: center;
            margin-top: 16px;
            img {
                height: 72px;
                width: auto;
                margin: 0 auto;
            }
        }

        .title-field {
            text-align: center;
            font-size: 2rem;
            line-height: 2.8rem;
            margin: 16px 0 22px;
        }

        .title-description {
            padding: 0 25px 20px;
            color: #333333;
            font-family: 'BC Sans Regular', sans-serif;
            font-size: 1.6rem;
            color: #333333;
        }
    }

    .career-result {
        margin-top: 25px;
    }

    .itm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .itm.hide {
        display: none;
    }

    .itm.show {
        display: block;
    }

    .category-results-toggle,
    .work-values-toggle {
        margin-right: 0;
        width: auto;
        text-align: right;
        font-family: "BC Sans Bold", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        color: #234075;
        text-align: right;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &:focus-visible{
            outline: none;
            > span{
                border: 2px dashed #d21c22;
            }
        }
        > span {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > svg{
                margin-left: 10px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .hideshow-workbc{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > span{
            font-family: 'BCSans';
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            color: #880364;
            text-align: right;
            line-height: 30px;
            cursor: pointer;
        }
        > svg{
            margin-left: 10px;
        }
        .slick-next-workbc{
            &.vaa1{
                display: none;
            }
        }
    }

    .work-value-quiz-carousel{
        overflow: visible;
        .slick-dots{
            display: none;
        }
        .slick-prev.slick-arrow{
            display: none !important;
        }
    }

}

.important-values.hide {
    display: none !important;
}

.somewhat-values.hide {
    display: none !important;
}


.extradivs.hide {
    display: none !important;
}

.extradivs.hide.show .itm.hide{
    display: block !important;
}


.webform-submission-abilities-quiz-form,
.webform-submission-work-preferences-quiz-form,
.webform-submission-interests-quiz-form,
.webform-submission-multiple-intelligences-quiz-form,
.webform-submission-learning-styles-quiz-form,
.webform-submission-work-values-quiz-form {

    .webform-type-radios {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;

        legend {
            width: 40%;
            font-weight: normal;
            font-size: 15px;
            color: #333333;
        }

        .fieldset-wrapper {
            width: 60%;
        }

        .form-radios {
            display: flex;
            justify-content: space-evenly;
        }

        .form-type-radio input {
            border: 0px;
            width: 117px;
            height: 1.5em;
            margin: 10px;
        }

        .form-radios label {
            // position: absolute;
            display: block;
            position: relative;
            top: -110px;
            text-align: center;
            width: 117px;
            margin: 0 auto;
            font-size: 14px;
            color: #666666;
        }

        .form-required::after {
            background-image: none;
        }
    }
   
    .webform-type-radios:not(.workbc-quiz-fieldset-first) {
        .form-type-radio label {
            display: none;
        }        
    }

    .workbc-quiz-fieldset-odd {
        background-color: #f2f2f2;
    }

    .workbc-quiz-fieldset-even {
        background-color: #fff;           
    }

    .webform-header-radios {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;

        .webform-header-legend {
            width: 40%;
            font-weight: normal;
            font-size: 15px;
        }

        .webform-header-labels {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            margin-left: 70px;
            margin-right: 20px;
        }

        .webform-header-label {
            width: 100px;
            display: flex;
            justify-content: center;
        }
    }    

}


.webform-button--next,
.webform-button--submit {
    border: 2px solid #234075;
    border-radius: 0 !important;
    background: #234075;
    color: #fff;
    font-size: 15px;
    padding: 15px 4px;
    min-width: 170px;
    float: right;

    &:hover {
        background: rgba(0, 40, 85, 1);
    }
} 
    
.webform-button--previous {
    margin-left: 0px;
    border: 2px solid #234075;
    border-radius: 0 !important;
    background: #fff;
    color: #234075;
    font-size: 15px;
    padding: 15px 4px;
    min-width: 170px;
    
    &:hover {
        background: #e6eae9;
    }
}   

.webform-button--draft {
    display: none;
}

.webform-submission-abilities-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-dark-blue;
        background: $quiz-dark-blue;
    
        &:hover {
            background: $quiz-dark-blue-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-dark-blue;
        color: $quiz-dark-blue;
    }       

    .form-type-radio input {
        accent-color: $quiz-dark-blue;
    }    
}

.webform-submission-work-preferences-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-purple;
        background: $quiz-purple;
    
        &:hover {
            background: $quiz-purple-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-purple;
        color: $quiz-purple;
    }   

    .form-type-radio input {
        accent-color: $quiz-purple;
    }    
}

.webform-submission-interests-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-blue;
        background: $quiz-blue;
    
        &:hover {
            background: $quiz-blue-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-blue;
        color: $quiz-blue;
    }  

    .form-type-radio input {
        accent-color: $quiz-blue;
    }      
}

.webform-submission-multiple-intelligences-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-green;
        background: $quiz-green;
    
        &:hover {
            background: $quiz-green-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-green;
        color: $quiz-green;
    }  

    .form-type-radio input {
        accent-color: $quiz-green;
    }      
}

.webform-submission-learning-styles-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-light-blue;
        background: $quiz-light-blue;
    
        &:hover {
            background: $quiz-light-blue-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-light-blue;
        color: $quiz-light-blue;
    }  

    .form-type-radio input {
        accent-color: $quiz-light-blue;
    }  
}

.webform-submission-work-values-quiz-form {
    .webform-button--next,
    .webform-button--submit {
        border: 2px solid $quiz-pink;
        background: $quiz-pink;
    
        &:hover {
            background: $quiz-pink-dark;
        }
    } 

    .webform-button--previous,
    .webform-button--draft {
        border: 2px solid $quiz-pink;
        color: $quiz-pink;
    }  

    .form-type-radio input {
        accent-color: $quiz-pink;
    }  
}


#block-workbc-cdq-workbcquizpagetitle {

    color: white;
    padding-top: 55px;

    h2 {
        text-align: left;
        color: white;
        margin-bottom: 35px;
    }

    .sub-title {
        max-width: 568px;
        min-height: 65px;
        max-height: 65px;
        margin-bottom: 35px;        
    }

    p {
        color: white;
    }
}

.main-quiz-container {
    position: relative;
    background-color: #e6eae9;
}

.cdq-quiz, .cdq-results {

    .region-content {
        background-color: white;
    }

    .overlay-bg {
        min-height: 395px;
        position: absolute;
        z-index: 0;
        top: 34px;
        left: 0px;
        width: 100%;    
    }
    
    .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .cdq-content {
        position: relative;
        background-color: white;
        padding-bottom: 20px;
    }

    #block-workbc-cdq-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}

// .cdq-quiz {
//     #block-workbc-cdq-content {
//         margin-top: 75px;
//     }
// }

.cdq-content {
    .cdq-abilities-quiz & {
        border-bottom: 6px solid $quiz-dark-blue-dark;
    }

    .cdq-work-preferences-quiz & {
        border-bottom: 6px solid $quiz-purple-dark;
    }
    
    .cdq-interests-quiz & {
        border-bottom: 6px solid $quiz-blue-dark;
    }
    
    .cdq-multiple-intelligences-quiz & {
        border-bottom: 6px solid $quiz-green-dark;
    }
    
    .cdq-learning-styles-quiz & {
        border-bottom: 6px solid $quiz-light-blue-dark;
    }
    
    .cdq-work-values-quiz & {
        border-bottom: 6px solid $quiz-pink-dark;
    }    
}

.overlay-bg {
    .cdq-abilities-quiz & {
        background-color: $quiz-dark-blue;
    }

    .cdq-work-preferences-quiz & {
        background-color: $quiz-purple;
    }

    .cdq-interests-quiz & {
        background-color: $quiz-blue;
    }

    .cdq-multiple-intelligences-quiz & {
        background-color: $quiz-green;
    }

    .cdq-learning-styles-quiz & {
        background-color: $quiz-light-blue;
    }

    .cdq-work-values-quiz & {
        background-color: $quiz-pink;
    }
}


.block-workbc-quiz-page-title  {

    .cdq-abilities-quiz &  {
        background-color: $quiz-dark-blue;
        border-bottom: 9px solid $quiz-dark-blue-dark;
    }

    .cdq-interests-quiz & {
        background-color: $quiz-blue;
        border-bottom: 9px solid $quiz-blue-dark;
    }

    .cdq-learning-styles-quiz &  {
        background-color: $quiz-light-blue;
        border-bottom: 9px solid $quiz-light-blue-dark;
    }

    .cdq-work-preferences-quiz & {
        background-color: $quiz-purple;
        border-bottom: 9px solid $quiz-purple-dark;
    }
 
    .cdq-work-values-quiz &  {
        background-color: $quiz-pink;
        border-bottom: 9px solid $quiz-pink-dark;
    }

    .cdq-multiple-intelligences-quiz &  {
        background-color: $quiz-green;
        border-bottom: 9px solid $quiz-green-dark;
    } 
}

.node-questions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

    .quiz-duration {
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;

        span {
            display: inline-block;
            width: 34px;
            height: 25px;            
            background: url(../src/icons/time-white.svg) no-repeat;
        }
    }

    .quiz-questions {
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-right: 24px;

        span {
            display: inline-block;
            width: 34px;
            height: 25px;
            background: url(../src/icons/list-white.svg) no-repeat;
        }
    }
}


.view-cdq-compare-careers {
    
    position: relative;

    .view-header {
        padding-bottom: 25px;
    }

    .bottom-btn {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }

    .btn-career-profile,
    .btn-find-job {
        width: 155px !important;
        height: 51px !important;
    }
  }
