@font-face {
    font-family:'BC Sans Regular';
    src:local('BC Sans Regular'),
    local('BC Sans Regular'),
    url('../assets/fonts/BCSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/BCSans-Regular.woff') format('woff');
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family:'BC Sans';
    src:local('BC Sans'),
    local('BC Sans'),
    url('../assets/fonts/BCSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/BCSans-Regular.woff') format('woff');
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family:'BCSans';
    src:local('BCSans'),
    local('BCSans'),
    url('../assets/fonts/BCSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/BCSans-Regular.woff') format('woff');
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family:'BC Sans Bold';
    src:local('BC Sans Bold'),
    local('BC Sans Bold'),
    url('../assets/fonts/BCSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/BCSans-Bold.woff') format('woff');
    font-weight:400;
    font-style:normal
}

// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;


$aq:rgb(7, 53, 115);
$aq_h:rgb(0, 30, 64);
$wpq:rgb(81, 11, 118);
$wpq_h:rgb(49, 5, 70);
$iq:rgb(38, 113, 202);
$iq_h:rgb(14, 62, 117);

$miq:rgb(33, 108, 6);
$miq_h:rgba(22, 76, 3, 1);
$lsq:rgb(0, 126, 180);
$lsq_h:rgb(0, 68, 106);
$wvq:rgb(136, 3, 100);
$wvq_h:rgb(68, 0, 49);

$quiz-dark-blue: #234075;
$quiz-dark-blue-dark: #002855;

$quiz-purple: #510b76;
$quiz-purple-dark: #310546;

$quiz-blue: #2671ca;
$quiz-blue-dark: #0e3e75;

$quiz-green: #216c06;
$quiz-green-dark: #164c03;

$quiz-light-blue: #007eb4;
$quiz-light-blue-dark: #005f88;

$quiz-pink: #880364;
$quiz-pink-dark: #440031;

html {
    -webkit-text-size-adjust: none;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: "BC Sans Regular", sans-serif;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    overflow-x: hidden;
    font-family:'BC Sans Regular';
    font-weight: 400;
    &.overlayBg{
        overflow: hidden;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgb(47, 75, 130);
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0.533333;
        }
    }
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
    max-width:1235px;
}
.row{
    margin-right: -11px;
    margin-left: -11px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding-right: 11px;
    padding-left: 11px;
}

p{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: #333333;
}
h1, .h1{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 4.5rem;
    line-height: 5.2rem;
    color: #234075;
    margin-bottom: 35px;
    @media all and (max-width: 767.98px){
        font-size: 3.6rem;
        line-height: 4.2rem;
    }
}

h2, .h2{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 4.0rem;
    line-height: 4.7rem;
    color: #234075;
    text-align: center;
    @media all and (max-width: 767.98px){
        font-size: 2.4rem;
        line-height: 3.1rem;
    }
}

h3, .h3{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2.7rem;
    line-height: 3.4rem;
    color: #234075;
    @media all and (max-width: 767.98px){
        font-size: 2.4rem;
        line-height: 3.1rem;
    }
}

ul{
    &.pagging{
        text-align: center;
        padding-left: 0px;
        display: block;
        float: none;
        li.pag {
            display: inline-block;
            margin: auto;
            text-align: center;
            padding: 0px 10px;
            @media all and (max-width: 767.98px){
                padding: 0px;
            }
            a {
                display: block;
                padding: 5px 15px;
                text-decoration: none;
                line-height:18px;
                font-size:15px;
                &:hover, &.active {
                    background: $aq;
                    color: #ffffff;
                }
            }
        }
    }
}

a:focus-visible{
    outline: 2px dashed #d21c22;
}
input:focus-visible, .btn:focus-visible {
    outline: 2px dashed #d21c22;
}

// CTA
.cta-btn-blue{
    background: #234075;
    min-width: 250px;
    display: inline-block;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: 'BC Sans', sans-serif;
    &:hover{
        background: #002855;
        color: #fff;
        text-decoration: none;
    }
}

.btn-primary{
    border: 0;
    &:focus{
        border: 0;
    }
    &.focus{
        border: 0;
    }
}

//hidden
.block.block-core.block-page-title-block{
    display: none;
}
.field--name-field-component{
    > .field__label{
        display: none;
    }
}
.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content{
    padding: 0 !important;
}

.no-padding-device{
    @media  all and (max-width: 767.98px){
        padding: 0;
    }
}

.icon-message {
    mask: url(../src/icons/message.svg);
}

.icon-print {
    mask: url(../src/icons/print.svg);
}

.icon {
    display: inline-block;
    width: 32px;
    height: 29px;
    background: $color-dark;
    mask-size: cover;

    &.icon-message {
        width: 33px;
        height: 22px;
    }
}

html {
    scroll-behavior: smooth;
}
