html {
    -webkit-text-size-adjust: none;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
}
.container-fluid{max-width:1400px;}

p{
    font-family: 'BC Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: #333333;
}
h1, .h1{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
    line-height: 5.2rem;
    color: #234075;
    margin-bottom: 35px;
    @media all and (max-width: 767.98px){
        font-size: 3.6rem;
        line-height: 4.2rem;
    }
}

h2, .h2{
    font-family: 'BC Sans Regular', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.0rem;
    line-height: 4.7rem;
    color: #234075;
    text-align: center;
    @media all and (max-width: 767.98px){
        font-size: 2.4rem;
        line-height: 3.1rem;
    }
}

h3, .h3{
    font-family: 'BC Sans Bold', 'BC Sans Regular', 'BC Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7rem;
    line-height: 3.4rem;
    color: #234075;
    @media all and (max-width: 767.98px){
        font-size: 2.4rem;
        line-height: 3.1rem;
    }
}

// CTA
.cta-btn-blue{
    background: #234075;
    min-width: 250px;
    display: inline-block;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: 'BC Sans', sans-serif;
    &:hover{
        background: #002855;
        color: #fff;
        text-decoration: none;
    }
}

//hidden
.block.block-core.block-page-title-block{
    display: none;
}
.field--name-field-component{
    > .field__label{
        display: none;
    }
}
.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content{
    padding: 0 !important;
}

.no-padding-device{
    @media  all and(max-width: 767.98px){
        padding: 0;
    }
}