body, html {
    width: 100% !important;
    height: 100% !important;
    margin-top:0%;
    display:block;
}

header .navbar-brand a.site-logo img {
    width: 163px;
    height: auto;
}

#myResult .carousel-inner.carousel-inner-device{
    display: block !important;
}
#myResult .carousel-inner.carousel-inner-device .extradivs.hide{
    display: none !important;
}
.carousel-mobi-tabs{
    display: none !important;
}
#myResult .carousel-inner.carousel-inner-mobi{
    display: none !important;
}