#block-views-block-quiz-3-result-block-1{
	margin-top:50px;
	margin-bottom:50px;
}
#block-views-block-quiz-3-result-block-1 h2{margin-bottom:30px;}
#views-bootstrap-quiz-3-result-block-1 .item.title-description {
    min-height: 200px;
}

.node--view-mode-full .field--type-double-reference {
    display: list-item;
    margin-bottom: 20px;
    list-style-type: decimal;
}
.node--view-mode-full .field--type-double-reference .field__item a:first-child{display:none;}

.itm{margin-bottom:30px;}




.block-views-blockcareer-quizzes-block-1, .block-views-blockcareer-quizzes-block-2{
	margin-bottom:35px;
}





.result-link {
    text-align: center;
	width: 100%;
    display: inline-block;
    padding-top: 2px;
}



.path-quiz .breadcrumb{margin-bottom: 0px;}


.carousel .carousel-indicators{display:none;}

.hideshow span.vaa:hover {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before{    color: #073573 !important;
    content: ">" !important;
    font-weight: bold;
    line-height: 24px;
    padding: 0px 5px;}
.form-required:after{display:none !important;}






.nfq .drop-demo-head-wrp
{
	justify-content: space-between;
	margin: 0px -15px;
	display: flex;
}
.nfq .drop-demo-head-title
{
	padding: 0px 15px;
}
.nfq .mobile-view
{
	display: none;
}
.nfq .drop-demo-inner
{
	min-height: 400px;
	margin:15px 0px;
}
.nfq .row.carousel-item.active
{
	display: flex;
}
.nfq .dropdown
{
	display: none;
}
.nfq .carousel-inner .row
{

}
.nfq .extradivs.row
{
	margin:0px;
}
.path-quiz .entity-content-form-revision-information{display:none;}