:root
{
	/* --aq:#073573; */
	--aq:rgb(7, 53, 115);
	--aq_h:rgb(0, 30, 64);
	--wpq:rgb(81, 11, 118);
	--wpq_h:rgb(49, 5, 70);
	--iq:rgb(38, 113, 202);
	--iq_h:rgb(14, 62, 117);

	--miq:rgb(33, 108, 6);
	--miq_h:rgb(33, 108, 6);
	--lsq:rgb(0, 126, 180);
	--lsq_h:rgb(0, 68, 106);
	--wvq:rgb(136, 3, 100);
	--wvq_h:rgb(68, 0, 49);


	--grn:#216c06;
	--blu:#073573;
	--purp:#3170b8;
	--org:orange;
}
@font-face {
	font-family: 'BC Sans';
	src: url('fonts/BCSans-Regular.otf') format('embedded-opentype'),
	url('fonts/BCSans-Regular.woff') format('woff'),
	url('fonts/BCSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'BC Sans Regular';
	src: url('fonts/BCSans-Regular.otf') format('embedded-opentype'),
	url('fonts/BCSans-Regular.woff') format('woff'),
	url('fonts/BCSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: bold;
}
@font-face {
	font-family: 'BC Sans Bold';
	src: url('fonts/BCSans-Bold.otf') format('embedded-opentype'),
	url('fonts/BCSans-Bold.woff') format('woff'),
	url('fonts/BCSans-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body.path-quiz{
	font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(102, 102, 102);
}






#block-views-block-quiz-3-result-block-1{
	margin-top:50px;
	margin-bottom:50px;
}
#block-views-block-quiz-3-result-block-1 h2{margin-bottom:30px;}
#views-bootstrap-quiz-3-result-block-1 .item.title-description {
    min-height: 200px;
}
.item.title-description{min-height:130px;}
.field-match{text-align:center;background: #f2f2f2; margin: 0px -20px; padding: 2px 0px;    color: #333333;font-size: 15px;}
.node--view-mode-full .field--type-double-reference {
    display: list-item;
    margin-bottom: 20px;
    list-style-type: decimal;
}
.node--view-mode-full .field--type-double-reference .field__item a:first-child{display:none;}

.itm{margin-bottom:30px;}




.block-views-blockcareer-quizzes-block-1, .block-views-blockcareer-quizzes-block-2{
	margin-bottom:35px;
}
ul.pagging {
	text-align: center;
    padding-left: 0px;
    max-width: 350px;
    display: block;
    float: none;
    margin: auto;
    margin-top: -85px;
}

li.pag {
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

li.pag.active {}

li.pag a {
    display: block;
    /* background: var(--aq); */
    padding: 5px 15px;
    /* color: #fff; */
    text-decoration: none;
    /* border: 1px solid var(--aq); */
	line-height:18px;
	font-size:15px;
}

li.pag a:hover, li.pag a.active {
    background: var(--aq);
    color: #ffffff;
}




/* New Css */





.result-link {
    text-align: center;
	width: 100%;
    display: inline-block;
    padding-top: 2px;
}



.path-quiz .breadcrumb{margin-bottom: 0px;}
.path-quiz .aq-breadcrumb nav{}
.main-bg .overlay-bg{    background: var(--aq); height: 396px;}
.main-bg .overlay-content{margin-top: -396px;}


.itm.hide{display:none;}
.itm.show{display:block;}
.hideshow{display: block;
    float: right;
    margin-right: 15px;
    width: 100%;
    text-align: right;

    font-family: 'BC Sans Bold', 'BC Sans Regular', 'BC Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #234075;
    text-align: right;
    line-height: 30px;
	}

#myCarousel .row.carousel-item.active,#myCarousel1 .row.carousel-item.active, .carousel .row.carousel-item.active{    display: flex; margin-right: -15px; width: unset;}
#myCarousel .career, #myCarousel1 .personality  {margin-bottom:30px;}

.carousel .carousel-indicators{display:none;}
.hideshow span.vaa {
    cursor: pointer;
}

.hideshow span.vaa:hover {
    text-decoration: underline;
}
.result-heading{    margin-bottom: 40px;margin-top:20px;}
.result-heading h2{
    font-family: 'BC Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;color: #333333;
    text-align: left;}
.breadcrumb-item+.breadcrumb-item::before{    color: #073573 !important;
    content: ">" !important;
    /* background: #ccc; */
    font-weight: bold;
    line-height: 24px;
    padding: 0px 5px;}
.form-required:after{display:none !important;}

.sub-title p{    font-size: 16px; color: #FFFFFF;max-width:460px;}







.bottom-links .links-inner{
    display: flex;
    justify-content: flex-end;
	margin-bottom:15px;margin-top:30px;}
.bottom-links .link a{
    color: #333;
    text-shadow: none;
    margin-top: 7px;
    border-radius: 0px;
    font-size: 14px;
    padding: 8px 20px;
	border: 2px solid var(--aq);
    }
.bottom-links .link a:hover{text-decoration:none;}
	.bottom-links .link.link_1 a{margin-right: 20px;}
.bottom-links .link.link_1 a{     background: #fff; color: var(--aq) !important;}
 .bottom-links .link.link_1 a:hover{    background-color: rgba(230, 234, 233, 1); border-color: rgba(35, 64, 117, 1);text-decoration:none;}
.bottom-links .link.link_2 a{background-color: rgba(35, 64, 117, 1) ;color: #fff !important;}
.bottom-links .link.link_2 a:hover{ background-color:rgba(0, 40, 85, 1)}



.nfq .drop-demo-head-wrp
{
	justify-content: space-between;
	margin: 0px -15px;
	display: flex;
}
.nfq .drop-demo-head-title
{
	padding: 0px 15px;
}
.nfq .drop-demo-head-right
{
	padding: 0px 15px;
	display: flex;
}
.nfq .mobile-view
{
	display: none;
}
.nfq .drop-demo-inner
{
	min-height: 400px;
	margin:15px 0px;
}
.nfq .row.carousel-item.active
{
	display: flex;
}
.nfq .dropdown
{
	display: none;
}
.nfq .carousel-inner .row
{

}
.nfq .extradivs.row
{
	margin:0px;
}
.path-quiz .entity-content-form-revision-information{display:none;}
/* New Css */


