:root
{
	/* --aq:#073573; */
	--aq:rgb(7, 53, 115);
	--aq_h:rgb(0, 30, 64);
	--wpq:rgb(81, 11, 118);
	--wpq_h:rgb(49, 5, 70);
	--iq:rgb(38, 113, 202);
	--iq_h:rgb(14, 62, 117);
	
	--miq:rgb(33, 108, 6);
	--miq_h:rgb(33, 108, 6);
	--lsq:rgb(0, 126, 180);
	--lsq_h:rgb(0, 68, 106);
	--wvq:rgb(136, 3, 100);
	--wvq_h:rgb(68, 0, 49);
	
	
	--grn:#216c06;
	--blu:#073573;
	--purp:#3170b8;
	--org:orange;
}
@font-face {
	font-family: 'BC Sans';
	src: url('fonts/BCSans-Regular.otf') format('embedded-opentype'),
	url('fonts/BCSans-Regular.woff') format('woff'),
	url('fonts/BCSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'BC Sans Regular';
	src: url('fonts/BCSans-Regular.otf') format('embedded-opentype'),
	url('fonts/BCSans-Regular.woff') format('woff'),
	url('fonts/BCSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: bold;
}
@font-face {
	font-family: 'BC Sans Bold';
	src: url('fonts/BCSans-Bold.otf') format('embedded-opentype'),
	url('fonts/BCSans-Bold.woff') format('woff'),
	url('fonts/BCSans-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body.path-quiz{
	font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
body p, body div, body li{    font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;font-size:15px;color:#333333;}
.quiz-list{
	padding: 0px 20px 30px 20px;
    border: 2px solid rgb(238, 238, 238);
	height: 100%;
	position: relative;
	font-family: "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.quiz-list .img-field {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
	min-height:100px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-list .float-right { }
.quiz-list .quiz-questions, .quiz-list .quiz-duration{padding:0px;font-weight: bold;}
.quiz-list .quiz-questions span, .quiz-list .quiz-duration span, .quiz-list .complete span, .node-questions .quiz-questions span, .node-questions .quiz-duration span{display: inline-block; width: 34px; height: 25px; float: left;}
.quiz-list .complete .cq{text-align: center;margin: auto;width: 140px;color:#277a0f;}
.quiz-list .quiz-questions span{    background: url(../icons/list.svg) no-repeat; }
.quiz-list .quiz-duration span{ background: url(../icons/time.svg) no-repeat;}
.quiz-list .complete span{ background: url(../icons/check.svg) no-repeat;    background-position: 0px;}
.head-des {
    margin: 30px 0px;
	margin-bottom:0px;
	text-align:center;
}
.title-field{
	text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    color: rgb(35, 64, 117);
    text-align: center;
}
.title-field h4{    
	font-family: "BC Sans Bold", "BC Sans Regular", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.quiz_link {
	margin-top:55px;
}
a.quiz-link {
    border: 1px solid #3db2e3;
    padding: 8px 10px;
    color:  #3db2e3;
    text-decoration: none;
    text-align: center;
    width: 230px;
	max-width:100%;
    margin: auto;
    text-align: center;
    display: block;
	font-size:15px;
}

.head-des h2 {
	margin-bottom: 35px;
    font-size: 45px;
    font-weight: normal;
    font-family: "BC Sans", sans-serif;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
}
.head-des .description{}
.head-des .description p{font-size:14px;    font-size: 16px; color: #595959; text-align: center; line-height: 22px;}
.path-quiz .region-content {
    position: relative;
    padding-top: 50px;
	margin-top:20px;
}
.path-quiz .region-content .field--type-double-reference, .field--type-work-bc-quiz {
    /* margin-bottom: 1px; */
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    /* border: 1px solid #ccc; */
    border-bottom: 0px;
}

.path-quiz .region-content .form-item.form-type-entity-autocomplete{    padding: 0px; margin: 0px; line-height: 0px;}
.path-quiz .region-content .field--type-double-reference fieldset, .field--type-work-bc-quiz fieldset {margin:0px;}
.path-quiz .region-content .field--type-double-reference .form-item, .field--type-work-bc-quiz .form-item {margin:0px;}

.path-quiz .region-content .field--type-double-reference fieldset legend, .field--type-work-bc-quiz fieldset legend {
    float: left !important;
    width: 50% !important;
	 width: 100%;
    height: 2em;font-family: 'BC Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 15px;
    line-height: 24px;
}
.path-admin .field--type-work-bc-quiz fieldset legend, .path-admin .field--type-work-bc-quiz fieldset .fieldset-wrapper{float:inherit; width:auto;}
.path-quiz .region-content .field--type-double-reference fieldset .fieldset-wrapper, .field--type-work-bc-quiz fieldset .fieldset-wrapper {
    float: right;
	margin-right:35px;
}

.path-quiz .region-content .form-radios {}

.path-quiz .region-content .form-radios input {width:19px;height:19px;}

.path-quiz .region-content .form-radios label {    
	position: absolute;
    top: 0px; 
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-align: center;
    width: 80px;
}

.path-quiz .form-radios .form-item {
    display: inline-block;
    margin-right: 10px;
    min-width: 80px;
    text-align: center;
    margin: auto;
}
.path-node .visually-hidden-node, .visually-hidden-node{display:none !important;}
.path-admin .visually-hidden-node{display:block !important;}

.path-quiz .form-composite > legend, .label{font-weight:500}
.path-quiz .layout-region-node-footer__content{margin-top:0px;border-top:0px;}
.path-quiz .form-actions #edit-preview{display:none;}
.path-quiz .layout-node-form, .path-quiz .node-form {max-width:1140px;margin:auto;position:relative;padding-top:40px;}
.path-quiz .layout-node-form .layout-region-node-main, .path-quiz .layout-node-form .layout-region-node-footer {width:100% !important;float:inherit;}
.path-quiz .layout-node-form .layout-region-node-footer{margin-top:70px;}
.path-quiz .layout-region.layout-region-node-secondary {display:none;}

.path-quiz .region-content .field--type-double-reference:nth-child, .field--type-work-bc-quiz:nth-child(odd){
	/* background: #ccc; */
}
.path-quiz form .field--widget-double-reference-autocomplete-select:nth-child(odd){background:rgba(242, 242, 242, 1);}
.path-quiz form .field--widget-double-reference-autocomplete-select:nth-child(even){}

#block-views-block-quiz-3-result-block-1{
	margin-top:50px;
	margin-bottom:50px;
}
#block-views-block-quiz-3-result-block-1 h2{margin-bottom:30px;}
#views-bootstrap-quiz-3-result-block-1 .item.title-description {
    min-height: 200px;
}
.node--view-mode-full{padding:0px 30px !important;}
.item.title-description{min-height:130px;}
.field-match{text-align:center;background: #f2f2f2; margin: 0px -20px; padding: 2px 0px;    color: #333333;font-size: 15px;}
.node--view-mode-full .field--type-double-reference {
    display: list-item;
    margin-bottom: 20px;
    list-style-type: decimal;
}
.node--view-mode-full .field--type-double-reference .field__item a:first-child{display:none;}
span.question-prefix {
    float: left;
    margin-right: 10px
}
span.question-prefix:after{    content: '.';}
.itm{margin-bottom:30px;}
.quiz-list .row {     background: rgb(242, 242, 242); padding: 10px; margin: 0px;}
.quiz-list p{text-align:center;}
.quiz-list .breadcrumb{margin-bottom:0px;}
.quiz-list a.quiz-link:hover{
	text-decoration:none;
}
.quiz-description{padding-top:5px;}

.item_1.quiz-list{/* border-color:var(--aq); */}
.item_1 .title-field h4{    color: var(--aq);}
.item_1 a.quiz-link{background: var(--aq); color: #fff; border-color:var(--aq); }
.item_1 a.quiz-link:hover{background:var(--aq_h);}

.item_2.quiz-list{/* border-color:var(--wpq); */}
.item_2 .title-field h4{    color: var(--wpq);}
.item_2 a.quiz-link{background: var(--wpq); color: #fff; border-color:var(--wpq); }
.item_2 a.quiz-link:hover{background:var(--wpq_h);}

.item_3.quiz-list{/* border-color:var(--iq); */}
.item_3 .title-field h4{    color: var(--iq);}
.item_3 a.quiz-link{background: var(--iq); color: #fff; border-color:var(--iq); }
.item_3 a.quiz-link:hover{background:var(--iq_h);}

.personality .item_1.quiz-list{/* border-color:var(--aq); */}
.personality .item_1 .title-field h4{    color: var(--miq);}
.personality .item_1 a.quiz-link{background: var(--miq); color: #fff; border-color:var(--miq); }
.personality .item_1 a.quiz-link:hover{background:var(--miq_h);}

.personality .item_2.quiz-list{/* border-color:var(--wpq); */}
.personality .item_2 .title-field h4{    color: var(--lsq);}
.personality .item_2 a.quiz-link{background: var(--lsq); color: #fff; border-color:var(--lsq); }
.personality .item_2 a.quiz-link:hover{background:var(--lsq_h);}

.personality .item_3.quiz-list{/* border-color:var(--iq); */}
.personality .item_3 .title-field h4{    color: var(--wvq);}
.personality .item_3 a.quiz-link{background: var(--wvq); color: #fff; border-color:var(--wvq); }
.personality .item_3 a.quiz-link:hover{background:var(--wvq_h);}




.block-views-blockcareer-quizzes-block-1, .block-views-blockcareer-quizzes-block-2{
	margin-bottom:35px;
}
ul.pagging {
	text-align: center;
    padding-left: 0px;
    max-width: 350px;
    display: block;
    float: none;
    margin: auto;
    margin-top: -85px;
}

li.pag {
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

li.pag.active {}

li.pag a {
    display: block;
    /* background: var(--aq); */
    padding: 5px 15px;
    /* color: #fff; */
    text-decoration: none;
    /* border: 1px solid var(--aq); */
	line-height:18px;
	font-size:15px;
}

li.pag a:hover, li.pag a.active {
    background: var(--aq);
    color: #ffffff;
}

.block-forms-steps{margin-top:-120px;}
.block-forms-steps ol{    display: block; margin: auto; text-align: center; margin: auto; max-width: 800px;display: flex; margin-left: 0px; padding-left: 0px;}
.block-forms-steps ol li {    display: inline-block; background: #ffffff; height: 30px; color: #ffffff; border-top: 1px solid var(--aq); border-bottom: 1px solid var(--aq);text-indent: -5001px; width: 67px;    flex: 1;}
.block-forms-steps ol li.previous-step{background: var(--aq); color: var(--aq);}
.block-forms-steps ol li.active{}
.block-forms-steps ol li.next-stap{}
.block-forms-steps ol li.previous-step {
    background: var(--aq);
    color: var(--aq);
} 
.block-forms-steps ol li:first-child {
    border-left: 5px solid var(--aq);
}
.block-forms-steps ol li:last-child {
    border-right: 1px solid var(--aq);
}



/* New Css */
.progress-title{text-align:right;}
.progress-title{}
.p-bar{}
.col-md-2.qs{margin-right:0px;margin-left:5px;padding:0px;}
.status-bar{padding-top:5px;}
.status-bar span{    font-size: 15px; text-align: center; color: #333333; margin-right: 4px;}
.status-bar .Question-status{}
.status-bar .total-question{    margin-left: 4px;}
.status-bar .label{font-weight:normal;}
body.path-quiz{    position: relative; background: #e9ecef;}
.path-quiz .block.block-core.block-page-title-block{display:block;}
.path-quiz .form-actions input[name=op], .path-quiz .form-actions input[name=previous_action]{
	border: none;
    color: #333;
    text-shadow: none;
    margin-top: 7px;
    background: var(--aq);
    border-radius: 0px;
    font-size: 14px;
    padding: 5px 20px;
	background: var(--aq);
    color: #fff;
}
.path-quiz .form-actions input[name=op]:hover, .path-quiz .form-actions input[name=previous_action]:hover{
	/* outline:none; */
}
.path-quiz .form-actions input[name=op]{float:right;margin-right:40px;}
.path-quiz .form-actions input[name=previous_action]{float:left;margin-left:40px;}
.path-quiz .vertical-tabs {display:none;}
.result-link {
    text-align: center;
	width: 100%;
    display: inline-block;
    padding-top: 2px;
}
.path-quiz .form-actions.form-actions{
	width: 100%;
    min-height: 42px;
    /* border: 1px solid #ccc; */
	margin-top:100px;
}
.all-quiz-status {
    background: rgb(230, 234, 233);
    margin: 20px 0px;
    padding: 10px 30px;
    text-align: right;
    margin-bottom: 30px;
	font-family: "BC Sans Bold", "BC Sans Regular", "BC Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: right;
    line-height: 30px;
}
.path-quiz {
    background: #e9ecef;
}
.path-quiz .alert-success{display:none;}
.main-bg{}
.path-quiz div#block-bcgov-career-breadcrumbs, .block-system-breadcrumb-block {
    background: #e9ecef;
}
.path-quiz header{background:#fff;}
.path-quiz div#block-bcgov-career-breadcrumbs nav,  .block-system-breadcrumb-block nav {
    max-width: 1400px;
    margin: auto;
    padding: 0px 15px;
}
.path-quiz .breadcrumb{margin-bottom: 0px;}
.path-quiz .aq-breadcrumb nav{}
.main-bg .overlay-bg{    background: var(--aq); height: 396px;}
.main-bg .overlay-content{margin-top: -396px;}
.overlay-content {}
.overlay-content .block-page-title-block{}
.overlay-content .block-page-title-block h1 {
    color: #fff;
    text-align: left !important;
	font-size:40px;
	font-family: 'BC Sans Bold', 'BC Sans Regular', 'BC Sans', sans-serif;
}
.overlay-content .block-system-main-block{    background: #fff; padding-top: 45px; border-top: 9px solid rgb(0, 40, 85); border-bottom: 5px solid rgb(0, 40, 85);padding-bottom:30px;}
.path-quiz .overlay-content .region-content {
    padding-top: 20px;
    margin-bottom: 20px;
}
.progress-title h6 {
    font-size: 14px;
	color: #333333;
    text-align: left;
    font-family: 'BC Sans Bold', 'BC Sans Regular', 'BC Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    padding-top: 5px;
}
.itm.hide{display:none;}
.itm.show{display:block;}
.hideshow{display: block;
    float: right;
    margin-right: 15px;
    width: 100%;
    text-align: right;
	
    font-family: 'BC Sans Bold', 'BC Sans Regular', 'BC Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #234075;
    text-align: right;
    line-height: 30px;
	}

#myCarousel .row.carousel-item.active,#myCarousel1 .row.carousel-item.active, .carousel .row.carousel-item.active{    display: flex; margin-right: -15px; width: unset;}
#myCarousel .career, #myCarousel1 .personality  {margin-bottom:30px;}

.carousel .carousel-indicators{display:none;}
.hideshow span.vaa {
    cursor: pointer;
}

.hideshow span.vaa:hover {
    text-decoration: underline;
}
.result-heading{    margin-bottom: 40px;margin-top:20px;}
.result-heading h2{ 
    font-family: 'BC Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;color: #333333;
    text-align: left;}
.breadcrumb-item+.breadcrumb-item::before{    color: #073573 !important;
    content: ">" !important;
    /* background: #ccc; */
    font-weight: bold;
    line-height: 24px;
    padding: 0px 5px;}
.form-required:after{display:none !important;}
.sub-title{margin-bottom:60px;}
.sub-title p{    font-size: 16px; color: #FFFFFF;max-width:460px;}

.node-questions {
    display: flex;
    justify-content: flex-end;
	margin-bottom:15px;
}
.node-questions .quiz-duration, .node-questions .quiz-questions {
    color: #fff;
    font-size: 14px;
}
.node-questions .quiz-duration {
	
}
.node-questions .quiz-questions{
	margin-right: 24px;
}
.node-questions .quiz-questions span{    background: url(../icons/list-white.svg) no-repeat; }
.node-questions .quiz-duration span{ background: url(../icons/time-white.svg) no-repeat;}

.bottom-links .links-inner{display: flex;
    justify-content: flex-end;
	margin-bottom:15px;margin-top:30px;}
.bottom-links .link a{
    color: #333;
    text-shadow: none;
    margin-top: 7px;
    border-radius: 0px;
    font-size: 14px;
    padding: 8px 20px;
	border: 2px solid var(--aq);
    }
.bottom-links .link a:hover{text-decoration:none;}
	.bottom-links .link.link_1 a{margin-right: 20px;}
.bottom-links .link.link_1 a{     background: #fff; color: var(--aq) !important;}
 .bottom-links .link.link_1 a:hover{    background-color: rgba(230, 234, 233, 1); border-color: rgba(35, 64, 117, 1);text-decoration:none;}
.bottom-links .link.link_2 a{background-color: rgba(35, 64, 117, 1) ;color: #fff !important;}
.bottom-links .link.link_2 a:hover{ background-color:rgba(0, 40, 85, 1)}



.nfq .drop-demo-head-wrp
{
	justify-content: space-between;
	margin: 0px -15px;
	display: flex;
}
.nfq .drop-demo-head-title
{
	padding: 0px 15px;
}
.nfq .drop-demo-head-right
{
	padding: 0px 15px;
	display: flex;
}
.nfq .mobile-view
{
	display: none;
}
.nfq .drop-demo-inner
{
	min-height: 400px;
	margin:15px 0px;
}
.nfq .row.carousel-item.active
{
	display: flex;
}
.nfq .dropdown
{
	display: none;
}
.nfq .carousel-inner .row
{
	 
}
.nfq .extradivs.row
{
	margin:0px;
}
.path-quiz .entity-content-form-revision-information{display:none;}
/* New Css */


