 <div class="tools-resource-wrapper">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="title">
           <h2>Tools and Resources</h2>
         </div>
         <div class="field field--name-field-title field--type-string field--label-hidden field__item">Tools and Resources</div>
         <div class="tools-resource-items-wrapper">
           <div class="field__items row">
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5251.svg" />
                 <h3>
                   <a href="https://www.workbc.ca/careersearchtool/" target="_blank"> Career Search <br>Tool </a>
                 </h3>
                 <p class="description">Explore career opportunities that fit your interests and goals.</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5252.svg" />
                 <h3>
                   <a href="https://www.careertrekbc.ca/" target="_blank"> Career Trek <br> Videos </a>
                 </h3>
                 <p class="description">Discover the career of your dreams with videos highlighting careers throughout B.C.</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5253.svg" />
                 <h3>
                   <a href="https://www.workbc.ca/careertransitiontool/" target="_blank"> Career Transition Tool </a>
                 </h3>
                 <p class="description">Looking for a new career? Find out what careers you may be able to transition to based on your current occupation.</p>
               </div>
             </div>
             <div class="col-12 col-md-3">
               <div class="tools-resource-item">
                 <img class="image-icon" src="/themes/custom/workbc_cdq/assets/icons/u5254.svg" />
                 <h3>
                   <a href="https://www.workbc.ca/research-labour-market/high-opportunity-occupations" target="_blank"> High Opportunity Occupations </a>
                 </h3>
                 <p class="description">Discover occupations in B.C. that are expected to offer the best opportunities over the next 10 years.</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 