<footer class="footer-main-wrapper">
  <div class="footer-top-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="order-12 order-lg-1 col-lg-9">
          <div class="region region-footer-left">
            <nav role="navigation" aria-labelledby="block-bcgov-career-footer-menu" id="block-bcgov-career-footer" class="block block-menu navigation menu--footer">
              <h5 class="visually-hidden" id="block-bcgov-career-footer-menu">Footer menu</h5>
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a href="http://www2.gov.bc.ca/gov/content/home/accessibility" class="nav-link" target="_blank">Accessibility</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.workbc.ca/Browsers" class="nav-link" target="_blank">Browsers</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.workbc.ca/Contact-Us" class="nav-link" target="_blank">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" class="nav-link" target="_blank">Disclaimer</a>
                </li>
                <li class="nav-item">
                  <a href="http://www2.gov.bc.ca/gov/content/home/privacy" class="nav-link" target="_blank">Privacy</a>
                </li>
                <li class="nav-item">
                  <a href="https://careereducation.workbc.ca/" class="nav-link" target="_blank">Resources for Teachers &amp; Counsellors </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="order-1 order-lg-12 col-lg-3">
          <div class="region region-footer-right">
            <div id="block-socialnetwork" class="block block-block-content block-block-contenteb859f33-ef43-4345-a4fa-cec853fe8423">
              <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                <p class="social-icons">
                  <a class="social-twitter" href="https://twitter.com/WorkBC" target="_blank">
                    <img src="/themes/custom/workbc_cdq/assets/x-twitter.svg" />
                  </a>
                  <a class="social-facebook" href="https://www.facebook.com/WorkBC" target="_blank">
                    <img src="/themes/custom/workbc_cdq/assets/facebook.svg" />
                  </a>
                  <a class="social-youtube" href="https://www.youtube.com/user/WorkBC" target="_blank">
                    <img src="/themes/custom/workbc_cdq/assets/youtube.svg" />
                  </a>
                  <a class="social-linkedin" href="https://www.linkedin.com/company/official-workbc/" target="_blank">
                    <img src="/themes/custom/workbc_cdq/assets/linkedin.svg" />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="order-12 order-lg-1 col-lg-9">
          <div class="region region-footer-bottom-left">
            <div id="block-copyrights" class="block block-block-content block-block-contentda438690-6437-4b0f-af43-5e2e24bf75ae">
              <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                <p>Copyright © {{ copyright_year }} <a href="https://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Province of British Columbia. All rights reserved.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="order-1 order-lg-12 col-lg-3">
          <div class="region region-footer-bottom-right">
            <div id="block-footerbclogo" class="block block-block-content block-block-contenta55e0efe-369a-4ad6-a648-c43ea862f527">
              <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                <p>
                  <a alt="alt=" british="" columbia="" href="http://www2.gov.bc.ca/" target="_blank">
                    <img alt="British Columbia" src="/themes/custom/workbc_cdq/assets/bc-logo-footer.svg" />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
