{#
/**
 * @file
 * Default theme implementation for the comparison link.
 *
 * Available variables:
 * - output: The processed output that will normally be used.
 *
 * @see template_preprocess_entity_comparison_link()
 *
 * @ingroup themeable
 */
#}
<label class="compare-career compare-carr">
  <input type="checkbox" class="career-checkbox career-chkk">
  <span class="checkmark"></span>
</label>
